h1 {
  color: blue;
}
.container {
  margin-top: 150px;
  align-items: center;
}

.weatherApp-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weatherApp {
  padding: 40px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #dadde1;
  border-radius: 40px;
}
