body {
  background: linear-gradient(
    243deg,
    rgb(255, 253, 221) 13.4%,
    rgb(248, 215, 215) 82.1%
  );
  height: 100vh;
  background-repeat: no-repeat;
  font-family: "Urbanist", sans-serif;
}

h1 {
  color: #407088;
  font-size: 40px;
  font-weight: 250;
  line-height: 28px;
  margin-bottom: 10px;
  padding: 40px 0px 0px;
}
footer {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  color: rgb (135, 135, 135);
  font-weight: 100;
  line-height: 19px;
  padding: 0;
  margin: 0;
}
li.today {
  font-size: 20px;
  padding: 3px;
}
li.descToday {
  font-size: 20px;
  padding: 3px;
  text-transform: capitalize;
}
li.humidity {
  font-size: 20px;
  padding: 3px;
}
li.wind {
  font-size: 20px;
  padding: 3px;
}
div.descToday {
  margin-left: 50px;
}

.container {
  width: 900px;
  margin: 0 auto;
  align-items: center;
}

.weatherApp-wrapper {
  max-width: 700px;
  margin: 40px auto;
  border: 2px solid #407088;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  padding: 50px 30px;
}

.WeatherOverview {
  margin: 20px;
}

.current-temp {
  padding: 40px 0px;
  font-size: 20px;
}

.current-temp .active {
  color: #407088;
  cursor: default;
}

.current-temp :hover {
  text-decoration: none;
}

.forecast-time {
  color: #407088;
  font-weight: 500;
  font-size: 20px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}

.weather-forecast-date {
  font-size: 20px;
  color: #407088;
}

.weather-forecast-temperatures {
  font-size: 18px;
}
